.image-scale-hover {
  overflow: hidden;

  img {
    transition: all ease 0.4s;
    transform: scale(1.001);
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}


.new-tag {
  display: inline-block;
  background-color: red;
  font-size: 14px;
  color: #fff;
  line-height: 1;
  padding: 2px 5px;
  border-radius: 4px;
}


.z-index-step1 {
  position: relative;
  z-index: 4 !important;
}

.z-index-common {
  position: relative;
  z-index: 3;
}

.z-index-n1 {
  z-index: -1;
}


.media-body {
  flex: 1;
}


.badge {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  text-align: center;
  background-color: $theme-color;
  color: $white-color;
  padding: .35em .55em;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 400;
  right: 0;
  top: -5px;
}

.has-badge {
  padding-right: 15px;
}

.tag-style1 {
  display: inline-block;
  font-size: 14px;
  text-transform: capitalize;
  color: $white-color;
  background-color: $theme-color;
  line-height: 1;
  text-align: center;
  padding: 4px 12px 4px 18px;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.hr {
  &_style1 {
    background-color: #e2e2e2;
    opacity: 1;
  }

  &_style2 {
    background-color: #e7e7e7;
    opacity: 1;
  }

  &_style3 {
    background-color: $border-color;
    opacity: 1;
  }
}


.vs-label-style1 {
  background-color: $theme-color;
  font-weight: 500;
  font-size: 14px;
  color: $white-color;
  font-style: italic;
  text-transform: uppercase;
  width: 150px;
  position: relative;
  line-height: 14px;
  padding: 12px;
  padding-right: 45px;
  clip-path: polygon(calc(100% - var(--shape-cut, 20px)) 0%, 100% 50%, calc(100% - var(--shape-cut, 20px)) 100%, 0% 100%, 0 50%, 0% 0%);
  margin-bottom: 30px;

  &:before {
    content: '';
    position: absolute;
    right: 17px;
    top: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 0;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid $white-color;
  }
}



@include sm {
  .tag-style1 {
    font-size: 11px;
    padding: 4px 9px 4px 12px;
  }
}

@media (max-width: 350px) {
  .badge {
    padding: .3em .4em;
    font-size: 10px;
    right: 0;
    top: -3px;
  }

  .has-badge {
    padding-right: 9px;
  }
}

.lh-0 {
  line-height: 0;
}

@media (min-width: $sm) {
  .vs-sidebar-sticky {
    position: sticky;
    top: 0;
    z-index: 6;
  }
}