.filter-menu {
  padding: 16px 47px;
  border-radius: 9999px;
  position: relative;

  button {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0;
    margin: 0 23.5px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: $theme-color;
    }

    &.active {
      color: $theme-color;
      text-decoration: underline;
    }
  }  

  &.style2 {
    padding: 0;
    margin-bottom: 30px;
  }

  &.style3 {
    padding: 0;
    margin-bottom: 40px;
    
    button {
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      color: $title-color;
      background-color: $smoke-color;
      display: inline-block;
      line-height: 1;
      padding: 12px 26px;
      margin: 0 5px 10px 5px;

      &.active {
        background-color: $theme-color;
        color: $white-color;
      }
    }
  }
}

.tab-menu {
  button {
    border: none;
    padding: 0;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin: 0 18px;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $theme-color;
      transition: all ease 0.4s;
    }

    &.active,
    &:hover {
      color: $theme-color;

      &:before {
        width: 100%;
      }
    }
  } 


}

.tab-menu-style2 {
  margin-bottom: 50px;

  button {
    border: none;
    background-color: #f6f6f6;
    color: $title-color;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 9999px;
    line-height: 1;
    padding: 13px 19px;
    font-size: 14px;

    &:hover,
    &.active {
      background-color: $theme-color;
      color: $white-color;
    }
  }
}

.tab-menu-style3 {
  margin-bottom: 26px;
  
  button {
    border: none;
    background-color: transparent;
    color: $title-color;
    font-weight: 600;
    font-size: 28px;
    text-transform: capitalize;
    padding: 0;
    position: relative;
    transition: all ease 0.4s;

    &:not(:last-child):after {
      content: '.';
      margin: 0 11px 0 17px;
      color: $title-color;
    }

    &.active,
    &:hover {
      color: $body-color;
    }
  }
}

@include lg {
  .tab-menu-style3 {
    button {
      font-size: 20px;

      &:not(:last-child):after {
        margin: 0 11px 0 14px;
        position: relative;
        top: -4px;
      }
    }
  }
}


@include sm {
  .filter-menu {
    padding: 8px 20px;

    button {
      font-size: 13px;
      margin: 0 8px;
    }
  }

  .tab-menu {
    button {
      margin: 0 10px;
      font-size: 14px;
    }
  }

  .tab-menu-style3 {
     button {
       font-size: 14px;
       &:not(:last-child):after {
         margin: 0 5px 0 10px;
       }
     }
  }
}