blockquote {
  font-size: 20px;
  line-height: 36px;
  padding: 50px 60px 50px 60px;
  font-weight: 700;
  display: block;
  position: relative;
  background-color: $smoke-color;
  overflow: hidden;
  margin: 35px 0;
  color: $title-color;
  
  p {
    font-family: inherit;
    margin-bottom: 0 !important;
    line-height: 1.6;
    color: inherit;
    max-width: 550px;
    width: 100%;
    position: relative;
    z-index: 3;
    font-style: italic;
  }

  &:before {
    content: '\f10e';
    font-family: $icon-font;
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 7rem;
    font-weight: 300;
    opacity: 0.10;
    line-height: 1;
    color: $theme-color;
  }
  


  p {
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }

  cite {
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding-left: 45px;
    border-color: inherit;
    line-height: 1;
    font-weight: 400;
    margin-top: 22px;
    font-style: normal;
    color: $theme-color;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 30px;
      height: 2px;
      border-top: 2px solid;
      border-color: inherit;
    }
  }
}

.vs-quote {
  background-color: $theme-color;
  color: $white-color;
  padding: 67px 60px 64px 225px;

  &:before {
    content: '\f10e';
    position: absolute;
    left: 65px;
    top: 50%;
    margin-top: -60px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: $white-color;
    color: $theme-color;
    z-index: 1;
    opacity: 1;
    font-size: 2.5em;
    text-align: center;
    font-weight: 300;
    border-radius: 50%;
  }

  p {
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    font-style: normal;
  }

  cite {
    display: block;
    color: $white-color;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    
    &:before {
      display: none;
    }
  }

  .degi {
    font-weight: 400;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    display: block;
    margin-top: 5px;
  }
}

.blog-meta {
  span,
  a {
    display: inline-block;
    margin-right: 23px;
    font-size: 18px;
    color: $body-color;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-right: 10px;
      color: $body-color;
    }
  }
}


.blog-category {
  margin-bottom: -10px;

  a {
    display: inline-block;
    color: #fff;
    padding: 4.5px 24.5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    background-color: $theme-color;

    &:hover {
      background-color: $white-color;
      color: $body-color;
      border-color: $theme-color;
    }
  }
}

.blog-title {
  a {
    color: inherit;

    &:hover {
      color: $theme-color;
    }
  }
}

.vs-blog {
  margin-bottom: 30px;
}

.blog-inner-title {
  margin-bottom: 30px;
  margin-top: -0.25em;
}

.blog-author {
  --author-border-space: 5px;
  margin: var(--author-border-space);
  margin-top: var(--blog-space-y, 60px);
  padding: 30px 30px;
  border: 1px solid #e4e4e4;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(var(--author-border-space) * -1);
    right: calc(var(--author-border-space) * -1);
    bottom: calc(var(--author-border-space) * -1);
    left: calc(var(--author-border-space) * -1);
    border: inherit;
  }

  .author-degi {
    margin-bottom: 5px;
    color: $theme-color;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
  }

  .media-img {
    display: inline-block;
    padding: 7px;
    background-color: #e4e4e4;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  .author-name {
    margin-bottom: 10px;
  }
}


.blog-single {
  position: relative; 
  border: 1px solid $border-color;
  margin-bottom: 40px;
  
  .blog-content {
    margin: var(--blog-space-y, 40px) 0 var(--blog-space-y, 40px) 0;
    padding: 0 var(--blog-space-x, 40px) 0 var(--blog-space-x, 40px);
    position: relative;
  }
  
  

  .link-btn {
    margin: 30px 0 -0.15em 0;
    width: fit-content;
    display: block;
  }

  .blog-meta {
    margin-bottom: 10px;
    margin-top: -0.45em;

    >span,
    a {
      font-size: 14px;
      color: $body-color;
      margin: 0;
      padding: 0;

      &:not(:last-child):after {
        content: '|';
        margin: 0 5px 0 9px;
      }
    }
  }

  .blog-title {
    line-height: 1.35;
    margin-bottom: 18px;
    font-size: 30px;
  }

  .blog-audio {
    line-height: 1;
  }

  .blog-img {
    position: relative;
    margin: -1px -1px 30px -1px;

    .blog-date {
      font-size: 18px;
      color: $title-color;
      text-transform: capitalize;
      line-height: 1;
      display: inline-block;
      background-color: $white-color;
      padding: 15px 24px;
      position: absolute;
      right: 40px;
      bottom: 40px;

      .date {
        font-weight: 500;
        font-size: 30px;
        color: $theme-color;
        vertical-align: middle;
        top: -1px;
        position: relative;
        margin-right: 7px;
      }
    }

    .slick-arrow {
      --pos-x: 40px;
      background-color: $white-color;
      color: $title-color;
      border: none;
      border-radius: 0;
      
      &:hover {
        color: $white-color;
        background-color: $theme-color;
      }
    }

    .play-btn {
      --icon-size: 110px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: calc(var(--icon-size) / -2) 0 0 calc(var(--icon-size) / -2);
    }
  }

  .share-links {
    margin: -5px var(--blog-space-x, 40px) 0 var(--blog-space-x, 40px);
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 25px 0;

    .row {
      align-items: center;
    }
  }

  .share-links-title {
    font-size: 16px;
    color: $title-color;
    font-family: $title-font;
    font-weight: 400;
    margin: 0 15px 0 0;
  }

  .social-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-block;

    li {
      display: inline-block;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
    
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      display: inline-block;
      color: #9e9e9e;
      background-color: #f1f1f1;
      border-radius: 50%;

      &:hover {
        background-color: $theme-color;
        color: $white-color;
      }
    }
  }

  &:hover {
    .blog-img {
      .slick-arrow {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


.blog-card {
  margin-bottom: 23px;
  
  .blog-img {
    overflow: hidden;
    margin-bottom: 20px;

    img {
      transition: all ease 0.4s;
      transform: scale(1);
    }
  }

  .blog-meta {
    
    a {
      font-size: 14px;
      position: relative;
      margin: 0 0 8px 0;
      padding: 0;

      &:after {
        content: '/ ';
        margin: 0 6px 0 10px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }

  .blog-title {
    margin-bottom: 8px;
  }

  .blog-text {
    margin-bottom: 0;
  }

  &:hover {
    .blog-img {
      img {
        transform: scale(1.2);
      }
    }
  }
}

.blog-box {

  .blog-img {
    overflow: hidden;
    
    img {
      transform: scale(1);
      transition: all ease 0.4s;
    }
  }

  .blog-content {
    padding: 22px 30px 24px 30px;
    border: 1px solid #dedede;
    margin: -58px 15px 0 15px;
    background-color: $white-color;
    position: relative;
    z-index: 1;
  }

  .author-name {
    color : $theme-color;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
  }

  .blog-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;    
  }

  .blog-meta {
    margin-bottom: 0;
    
    span,
    a {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      letter-spacing: 0;
      margin-right: 13px;

      i {
        margin-right: 7px;
        font-size: 13px;
      }

      &:not(:hover) {
        color: #4b4b4b;
      }
    }
  }

  &:hover {
    .blog-img {
      img {
        transform: scale(1.2);
      }
    }
  }
}


.blog-grid {
  margin-bottom: 30px;
  
  .blog-img {
    margin-bottom: 30px;
    overflow: hidden;

    img {
      transform: scale(1);
      transition: all ease 0.4s;
    }
  }

  .blog-body {
    display: flex;
  }

  .blog-date {
    text-align: center;
    margin-right: 28px;
    margin-top: -0.2em;

    >a {
      word-break: break-word;
      display: inline-block;
      width: 63px;
      font-size: 16px;
      color: $title-color;

      &::first-line {
        display: block;
        color: #f9ead6;
        font-size: 48px;
        font-weight: 600;
        line-height: 1;
      }
    }
  }

  .blog-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: -0.2em;
    margin-bottom: 8px;
  }

  .blog-meta {
    margin: -0.3em 0 7px 0;
    
    a {
      font-size: 14px;
      color: $theme-color;
    }
  }

  .line-btn {
    color: #707070;
    font-style: italic;

    i {
      margin-left: 8px;
    }

    &:hover {
      color: $theme-color;
    }
  }

  &:hover {
    .blog-img {
      img {
        transform: scale(1.12);
      }
    }
  }
  
}

.blog-wide {
  position: relative;
  padding: 90px 0;

  .blog-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .blog-content {
    text-align: center;
    background-color: $white-color;
    max-width: 470px;
    margin: 0 auto;
    padding: 70px 40px 90px 40px;
    z-index: 2;
    position: relative;
  }

  .blog-date {
    margin-bottom: 20px;
    
    a {
      color: $white-color;
      background-color: $theme-color;
      line-height: 1;
      padding: 7px 12px;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .blog-text {
    margin: 0 auto;
    font-size: 18px;
    max-width: 310px;
  }

  &-arrows {
    position: absolute;
    bottom: 96px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;

    .icon-btn {
      border: 1px solid #e1dede;
      line-height: 48px;

      &:hover {
        border-color: transparent;
      }
    }
  }

}


.blog-style1 {
  background-color: $white-color;

  .blog-title {
    line-height: 32px;
  }

  .blog-meta {
    i {
      @media (min-width: $lg) {
        width: var(--icon-size, 30px);
        height: var(--icon-size, 30px);
        line-height: var(--icon-size, 30px);
        background-color: #e7e7e7;
        text-align: center;
        border-radius: 50%;
      }
      color: $title-color;
      font-size: 14px;
    }

    span,
    a {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 500;
      color: #666666;
    }
  }

  .author-avater {
    width: var(--avater-size, 70px);
    height: var(--avater-size, 70px);
    padding: 5px;
    background-color: $white-color;
    position: absolute;
    right: 15px;
    top: 0;
    margin-top: calc(var(--avater-size, 70px) / -2);
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  .blog-content {
    padding: 35px 30px 30px 30px;
    position: relative;
    z-index: 1;
  }

}

.blog-style2 {
  background-color: $white-color;

  .blog-meta {
    margin-bottom: 12px;
    
    span,
    a {
      font-size: 14px;
      position: relative;

      i {
        margin-right: 7px;
      }
      
      &:not(:last-child) {
        padding-right: 15px;
        margin-right: 13px;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 1px;
          height: 12px;
          margin-top: -6px;
          background-color: #d0d0d0;
        }
      }
    }
  }

  .blog-title {
    font-size: 20px;
    font-weight: 500;    
    margin-bottom: 7px;
  }

  .line-btn {
    font-style: italic;
    color: $body-color;
    font-weight: 400;
    font-size: 16px;

    i {
      margin-left: 5px;
    }
  }
  
  .blog-content {
    padding: 35px 40px 40px 40px;
  }
}

@include lg {
  .vs-quote {
    padding: 37px 40px 34px 150px;

    &:before {
      left: 35px;
      margin-top: -40px;
      width: 80px;
      height: 80px;
      line-height: 80px;
      font-size: 1.5em;
    }
  }
  
  .blog-box {
    .blog-content {
      padding: 22px 22px 24px 22px;
    }
  }

  .blog-grid {
    
    .blog-img {
      margin-bottom: 20px;
    }
    
    .blog-date {
      margin-right: 20px;
    }

    .blog-title {
      font-size: 16px;
      line-height: 24px;
    }

    .line-btn {
      font-size: 12px;
    }

    .blog-date>a {
      width: 50px;
      
      &::first-line {
        font-size: 30px;
      }
    }
  }

  .blog-wide-arrows {
    bottom: 96px;
  }

  .blog-style1 {
    --avater-size: 50px;
    
    .blog-meta {
      span,
      a {
        font-size: 12px;
      }
    }
  }

  .blog-title {
    line-height: 32px;
    margin-bottom: 10px;
  }

  .blog-single {
    --blog-space-y: 40px;
    --blog-space-x: 30px;

    .blog-title {
      font-size: 26px;
    }

    .blog-img {
      .play-btn {
        --icon-size: 80px;
        --icon-font-size: 1.2em;
      }
    }
  }
  
} 

@include md {
  blockquote {
    font-size: 20px;
    line-height: 34px;
    padding: 30px 40px 30px 40px;

    cite {
      font-size: 16px;
      margin-top: 20px;
    }

    &:before {
      right: 20px;
      bottom: 20px;
      font-size: 4rem;
    }
  }

  .blog-author {
    padding: 30px 30px;
  }

}


@include sm {

  .vs-quote {
    padding: 20px 25px 25px 25px;

    &:before {
      left: auto;
      margin-top: 0;
      top: auto;
      right: 10%;
      bottom: 10%;
      background-color: transparent;
      color: $white-color;
      font-size: 3em;
      line-height: 1;
      width: auto;
      height: auto;
      opacity: 0.3;
    }

    cite {
      font-size: 20px;
    }
  }

  .blog-meta span,
  .blog-meta a {
    margin-right: 20px;
    font-size: 16px;
  }

  .blog-single .blog-content {
    margin-top: 29px;
  }

  .blog-author {
    padding: 30px 20px;
  }

  .blog-card {
    .blog-text {
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  .blog-wide {
    .blog-content {
      max-width: 90%;
      padding: 40px 15px 45px 15px;
    }

    .blog-text {
      font-size: 16px;
    }
  }

  .blog-style2 {
    .blog-content {
      padding: 20px 30px 30px 30px;
    }
  }

  .blog-single {
    --blog-space-x: 15px;

    .blog-img {
      .blog-date {
        font-size: 14px;
        padding: 6px 15px;
        right: 15px;
        bottom: 15px;
        
        .date {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }

    .blog-title {
      font-size: 24px;
    }
  }


  

}


