
// 字母间距函数
@function letter-spacing($psValue, $return: 'em', $fSize: '16') {
  @if $return=='em' {
    @return ($psValue) * 0.001 + em;
  }

  @else {
    @return ($psValue * $fSize) * 0.001;
  }
}

@mixin letter-spacing($space) {
  letter-spacing: letter-spacing($space);
}


// 将十六进制值转换为逗号分隔的RGB值
@function convert-rgb($hex) {
  @return red($hex),
  green($hex),
  blue($hex);
}