.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories {

  ul {
    list-style: none;
    margin: -17px 0 -17px 0;
    padding: 0;
  }

  a {
    display: block;
    color: $body-color;
    background-color: transparent;
    padding: 15px 30px 15px 15px;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    border-bottom: 1px solid $border-color;

    &::before {
      content: '\f0da';
      position: absolute;
      left: 0;
      top: 16px;
      font-family: $icon-font;
      font-weight: 300;
    }

    &:hover {
      color: $theme-color;
    }
  }

  li {
    display: block;
    position: relative;

    &:last-child {
      a {
        border-bottom: none;
      }
    }

    >span {
      text-align: center;
      position: absolute;
      right: 0;
      top: 9px;
      transition: all ease 0.4s;
      font-size: 14px;
    }

    &:hover {
      > span {
        color: $theme-color;
      }
    }    
  }

  .children {
    margin-left: 10px;
  }
}

.widget_nav_menu,
.widget_meta,
.widget_pages {
  a {
    padding-right: 20px;
  }
}


.widget_nav_menu {
  .sub-menu {
    margin-left: 10px;
  }
}

.wp-block-archives {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  a:not(:hover) {
    color: inherit;
  }
}

.vs-blog ul.wp-block-archives li {
  margin: 5px 0;
}
