/* 首页图片轮播区域样式 */
.pic-slider {
  .pic-slider_line {
    margin-left: 12vw;
    margin-top: 27px;
    width: 35vw;
    height: 1px;
    background-color: #fff;
  }
}
/* 首页关于我们区域样式 */
.home-about {
  .home-about_data {
    position: relative;
    .home-about_data-num {
      position: relative;
      z-index: 9;
    }
    .about-decorative {
      position: absolute;
      bottom: -15px;
      right: 40px;
      width: 100vw;
      height: calc(100% + 30px);
      background-color: rgba(var(--main-color), 1);
    }
  }
}
.home-news {
  .box {
    .uk-card {
      background-color: #f6f8fd;
    }
    .line {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      height: 8px;
      border-radius: 100px;
      background-color: #f6f8fd;
    }
    &:hover {
      .uk-card,
      .line {
        background-color: rgba(var(--secondary-color), 1);
        div {
          color: #fff;
        }
      }
    }
  }
}
