/* 网页文字选中样式 v1.0 */
*::selection {
  color: #ffffff;
  background-color: rgba(var(--secondary-color), 1);
}

* {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 10px rgba(var(--main-color), 0.7);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--main-color), 0.7);
    box-shadow: inset 0 0 10px rgba(var(--main-color), 0.7);
  }
}

body {
  overflow-x: hidden;
}

html,
body {
  font-family: 'Source Han Sans SC VF', ' Segoe UI ', roboto, ' Helvetica Neue ', arial, ' Noto Sans ', ' Liberation Sans ', sans-serif,
    ' Apple Color Emoji ', ' Segoe UI Emoji ', ' Segoe UI Symbol ', ' Noto Color Emoji ';
  height: 100%;
}
