/* 网页文字选中样式 v1.0 */
@import 'root';

*::selection {
  color: #ffffff;
  background-color: rgba(var(--bs-secondary-rgb), 1);
}

* {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 10px rgba(var(--bs-primary-rgb), 0.7);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--bs-primary-rgb), 0.7);
    box-shadow: inset 0 0 10px rgba(var(--bs-primary-rgb), 0.7);
  }
}

body {
  overflow-x: hidden;
}

html,
body {
  font-family: 'Source Han Sans SC VF', ' Segoe UI ', roboto, ' Helvetica Neue ', arial, ' Noto Sans ', ' Liberation Sans ', sans-serif,
    ' Apple Color Emoji ', ' Segoe UI Emoji ', ' Segoe UI Symbol ', ' Noto Color Emoji ';
  height: 100%;
}
.text-primary{
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

.carousel-indicators [data-bs-target]{
  background-color: rgba(var(--bs-primary-rgb),1);
}