/* 网页文字选中样式 v1.0 */
*::selection {
  color: #ffffff;
  background-color: rgba(var(--secondary-color), 1);
}

* {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 10px rgba(var(--main-color), 0.7);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--main-color), 0.7);
    box-shadow: inset 0 0 10px rgba(var(--main-color), 0.7);
  }
}

body {
  overflow-x: hidden;
}

html,
body {
  font-family: 'Source Han Sans SC VF', ' Segoe UI ', roboto, ' Helvetica Neue ', arial, ' Noto Sans ', ' Liberation Sans ', sans-serif,
    ' Apple Color Emoji ', ' Segoe UI Emoji ', ' Segoe UI Symbol ', ' Noto Color Emoji ';
  height: 100%;
}
.main-title {
  font-weight: bold;
  font-size: 30px;
  color: #000;
  letter-spacing: 1px;
}
.sub-title {
  font-weight: lighter;
  font-size: 18px;
  color: #6b6b6b;
  letter-spacing: 1px;
}
.title-line {
  background-color: #f7e805;
  width: 40px;
  height: 2px;
  margin: 20px auto;
}
/*通用渐变色背景*/
.app_gradient-bg {
  background-image: linear-gradient(#fbfbfb, #ededed);
}

/* 文本缩进 */
.app_text-indent {
  text-indent: 2em;
}

/* 文本颜色 */
.app_text-fff {
  color: #ffffff !important;
}

/*移动端导航条*/
.app_wap-nav {
  position: fixed;
  z-index: 666666;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(var(--main-color), 1);
  box-shadow: 0 -2px 4px 1px rgb(0 0 0 / 30%);

  & > a {
    font-size: 3.5vw;
    line-height: 6vw;
    padding: 2.5vw 0;
    color: #ffffff;

    &.uk-active {
      background-color: rgba(var(--secondary-color), 1);
    }
  }

  & > a:not(:first-child) {
    border-left: 2px solid #666666;
  }

  .icon {
    width: 6vw;
    height: 6vw;
  }
}

/* 通用顶部导航条 */
.main-nav_list {
  list-style: none;
  border-left: 2px solid #6b6b6b;
  margin-left: 20px;
  padding-left: 20px;
  li {
    position: relative;
    padding-left: 15px;
    a {
      font-size: 14px;
      color: #999999;
      &:hover {
        color: rgba(var(--main-color), 1);
      }
    }

    &:before {
      content: '>';
      position: absolute;
      left: 0;
      color: #999999;
    }
  }
}

.uk-navbar-default {
  .common_header-logo {
    width: 150px;
    transition: all 0.5s ease;
  }
  .uk-navbar-item {
    font-size: 1.2vw;
    transition: all 0.5s ease;
  }
}

.uk-navbar-sticky {
  .common_header-logo {
    width: 130px;
    transition: all 0.5s ease;
  }

  .uk-navbar-item {
    font-size: 1.1vw;
    transition: all 0.5s ease;
  }
}

.uk-article {
  h3 {
    font-size: 20px;

    font-weight: 600;
    margin-top: 19px;
    margin-bottom: 10px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

footer {
  a {
    color: #ffffff;
  }
  .form-button {
    border: none;
    display: inline-block;
    padding: 0 20px;
  }
  .footer_copyright {
  }
}

.slide-controls {
  margin: 5px;
  top: -5px;
  right: 20px;
  .slider-item {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-right: 3px;
    transform: skew(-25deg);
    border: 1px solid #fff;
    &::before {
      content: '';
      display: block;
      width: 40px;
      text-align: center;
      line-height: 30px;
      font-size: 20px;
      transform: skew(25deg);
    }
  }
  .slider-item-previous:hover,
  .slider-item-next:hover {
    background-color: rgba(var(--main-color), 1);
    border-color: rgba(var(--main-color), 1);
  }
  .slider-item-previous::before {
    content: '<';
  }
  .slider-item-next::before {
    content: '>';
  }
}
