.page_aside {
  padding: 60px 20px !important;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 18px 0px rgba(41, 11, 11, 0.4);
  position: relative;
  top: -80px;
  height: 100%;
  .aside_title {
    font-size: 18px;
    color: #000000;
  }
  .aside_nav,
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: 15px;
      a {
        font-size: 14px;
        color: #999999;
        &:hover {
          color: rgba(var(--main-color), 1);
        }
      }

      &:before {
        content: '>';
        position: absolute;
        left: 0;
        color: #999999;
      }
    }
  }
}
