/************
**悬停翻页按钮**
*************/
.show_control {
  & > a {
    line-height: 80px;
    position: fixed;
    z-index: 666666;
    top: 60%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    text-align: center;
    color: rgba(var(--main-color), 1);

    & > .icon {
      width: 60px;
      height: 60px;
    }

    &:hover {
      opacity: 1;
      color: rgba(var(--secondary-color), 1);
    }
  }

  .show_control-prev {
    left: 0;
  }

  .show_control-next {
    right: 0;
  }
}
