/*
模板名称: Vendora
模板URL: http://vecurosoft.com/products/html/vendora
描述: Vendora - 多用途电子商务HTML模板
作者: Vecuro
作者URI: https://www.templatemonster.com/authors/vecuro/
版本: 1.0.0
*/
/*=================================
    CSS索引
==================================*/
/*

01. 主题基础
    1.1. 混合宏
    1.2. 函数
    1.3. 变量
    1.4. 排版
    1.5. 继承
    1.6. WordPress默认样式
02. 重置样式
    2.1. 容器
    2.2. 网格
    2.3. 表单输入
    2.4. Slick Slider
    2.5. 移动端菜单
03. 工具类
    3.1. 预加载器
    3.2. 按钮
    3.3. 标题
    3.4. 通用样式
    3.5. 字体
    3.6. 背景
    3.7. 文字颜色
    3.8. 遮罩层
    3.9. 动画
04. 模板样式
    4.1. 小工具
    4.2. 头部
    4.3. 底部
    4.4. 面包屑导航
    4.5. 分页
    4.6. 博客
    4.7. 评论
    4.8. 英雄区域
    4.9. 错误页面    
    4.10. 弹窗搜索
    4.11. 弹窗侧边菜单
    4.12.  WooCommerce
    4.13. 产品
    4.14. 购物车
    4.15. 结算页面
    4.16. 愿望清单
    4.17. 分类
    4.18. 简单区块
    4.19. 横幅
    4.20. 特性
    4.21. 客户评价
    4.22. 画廊
    4.23. 订阅表单
    4.24. 折扣
    4.25. 筛选器
    4.26. 邮件订阅
    4.27. 行动召唤
    4.28. 优惠活动
    4.29. 团队
    4.30. 关于我们
    4.31. 联系我们
    4.32. 登录与注册
    4.33. 即将上线
    4.34. 常见问题
05. 间距

*/
/*=================================
    CSS索引结束
==================================*/


/*=================================
   01. 主题基础
==================================*/
/*------------------- 1.1. 混合宏 -------------------*/
@import 'base/mixin';

/*------------------- 1.2. 函数 -------------------*/
@import 'base/function';

/*------------------- 1.3. 变量 -------------------*/
@import 'base/variable';

/*------------------- 1.4. 排版 -------------------*/
@import 'base/typography';

/*------------------- 1.5. 继承 -------------------*/
@import 'base/extend';

/*------------------- 1.6. WordPress默认样式 -------------------*/
@import 'base/wpdefault';


/*=================================
    02. 重置样式
==================================*/
/*------------------- 2.1. 容器 -------------------*/
@import 'reset/container';

/*------------------- 2.2. 网格 -------------------*/
@import 'reset/grid';

/*------------------- 2.3. 表单输入 -------------------*/
@import 'reset/input';

/*------------------- 2.4. Slick Slider -------------------*/
@import 'reset/slick-slider';

/*------------------- 2.5. 移动端菜单 -------------------*/
@import 'reset/vsmenu';


/*=================================
    03. 工具类
==================================*/
/*------------------- 3.1. 预加载器 -------------------*/
@import 'utilities/preloader';

/*------------------- 3.2. 按钮 -------------------*/
@import 'utilities/btns';

/*------------------- 3.3. 标题 -------------------*/
@import 'utilities/titles';

/*------------------- 3.4. 通用样式 -------------------*/
@import 'utilities/common';

/*------------------- 3.5. 字体 -------------------*/
@import 'utilities/font';

/*------------------- 3.6. 背景 -------------------*/
@import 'utilities/background';

/*------------------- 3.7. 文字颜色 -------------------*/
@import 'utilities/text-color';

/*------------------- 3.8. 遮罩层 -------------------*/
@import 'utilities/overlay';

/*------------------- 3.9. 动画 -------------------*/
@import 'utilities/animation';


/*=================================
    04. 模板样式
==================================*/
/*------------------- 4.1. 小工具  -------------------*/
@import 'template/widgets/widget-default-list';
@import 'template/widgets/widget-sidebar';
@import 'template/widgets/widget-footer';


/*------------------- 4.2. 头部  -------------------*/
@import 'template/headers/header';

/*------------------- 4.3. 底部  -------------------*/
@import 'template/footers/footer';

/*------------------- 4.4. 面包屑导航  -------------------*/
@import 'template/breadcumb/breadcumb-v1';

/*------------------- 4.5. 分页  -------------------*/
@import 'template/sections/pagination-v1';

/*------------------- 4.6. 博客  -------------------*/
@import 'template/sections/blog';

/*------------------- 4.7. 评论  -------------------*/
@import 'template/sections/comments';

/*------------------- 4.8. 英雄区域  -------------------*/
@import 'template/sections/hero';

/*------------------- 4.9. 错误页面  -------------------*/
@import 'template/sections/error';

/*------------------- 4.10. 弹窗搜索  -------------------*/
@import 'template/sections/popupsearch-v1';

/*------------------- 4.11. 弹窗侧边菜单  -------------------*/
@import 'template/sections/sidemenu-v1';

/*------------------- 4.12. WooCommerce  -------------------*/
@import 'template/sections/woocommerce';

/*------------------- 4.13. 产品  -------------------*/
@import 'template/sections/products';

/*------------------- 4.14. 购物车  -------------------*/
@import 'template/sections/cart';

/*------------------- 4.15. 结算页面  -------------------*/
@import 'template/sections/checkout';

/*------------------- 4.16. 愿望清单  -------------------*/
@import 'template/sections/wishlist';

/*------------------- 4.17. 分类  -------------------*/
@import 'template/sections/category';

/*------------------- 4.18. 简单区块  -------------------*/
@import 'template/sections/simple-sections';

/*------------------- 4.19. 横幅  -------------------*/
@import 'template/sections/banner';

/*------------------- 4.20. 特性  -------------------*/
@import 'template/sections/features';

/*------------------- 4.21. 客户评价  -------------------*/
@import 'template/sections/testimonial';

/*------------------- 4.22. 画廊  -------------------*/
@import 'template/sections/gallery';

/*------------------- 4.23. 订阅表单  -------------------*/
@import 'template/sections/subscribe';

/*------------------- 4.24. 折扣  -------------------*/
@import 'template/sections/discount';

/*------------------- 4.25. 筛选器  -------------------*/
@import 'template/sections/filter';

/*------------------- 4.26. 邮件订阅  -------------------*/
@import 'template/sections/newsletter';

/*------------------- 4.27. 行动召唤  -------------------*/
@import 'template/sections/cta';

/*------------------- 4.28. 优惠活动  -------------------*/
@import 'template/sections/deals';

/*------------------- 4.29. 团队  -------------------*/
@import 'template/sections/team';

/*------------------- 4.30. 关于我们  -------------------*/
@import 'template/sections/about';

/*------------------- 4.31. 联系我们  -------------------*/
@import 'template/sections/contact';

/*------------------- 4.32. 登录与注册  -------------------*/
@import 'template/sections/login-signup';

/*------------------- 4.33. 即将上线  -------------------*/
@import 'template/sections/coming-soon';

/*------------------- 4.34. 常见问题  -------------------*/
@import 'template/sections/faq';


/*=================================
    05. 间距
==================================*/
@import 'spacing/spacing';

/*=================================
    06. 自定义滚动条和附加样式
==================================*/
/* 网页文字选中样式 */
*::selection {
  color: #ffffff;
  background-color: rgba(var(--bs-primary-rgb), 1);
}

* {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 10px rgba(var(--bs-primary-rgb), 0.7);
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--bs-primary-rgb), 0.7);
    box-shadow: inset 0 0 10px rgba(var(--bs-primary-rgb), 0.7);
  }
}

body {
  overflow-x: hidden;
}

.text-primary{
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}

.carousel-indicators [data-bs-target]{
  background-color: rgba(var(--bs-primary-rgb),1);
}