.txt_mask {
  .txt_mask-box {
    position: relative;
    overflow: hidden;
    height: 40vh;
    transition: max-height 1s ease-in-out;
    border-radius: 0 0 20px 20px;

    &.txt_mask-expanded {
      height: 100%;
      transition: max-height 1s ease-in-out;

      &::after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 6vh;
      content: "";
      background: linear-gradient(to top, rgb(0 0 0 / 50%), transparent);
    }
  }
}
